
    
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 10px;
}

.card{
    width: 325px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover{
    transform: translateY(-20px);
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
